@import url(https://fonts.googleapis.com/css?family=Raleway:700,800);

html, body { margin: 0; }

:focus { outline: none; }
::-webkit-input-placeholder { color: #DEDFDF; }
::-moz-placeholder { color: #DEDFDF; }
:-moz-placeholder { color: #DEDFDF; }
::-ms-input-placeholder { color: #DEDFDF; }

body {
  background: #6ED0F6 !important;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
}

#wrapper, label, #arrow, button { transition: all .5s cubic-bezier(.6,0,.4,1); }

#wrapper { overflow: hidden; }


#signin:checked ~ #wrapper { height: 90px; }
#signin:checked ~ #wrapper #arrow { left: 32px; }

#signup:checked ~ #wrapper { height: 135px; }
#signup:checked ~ #wrapper #arrow { left: 150px; }

#reset:checked ~ #wrapper { height: 52px; }
#reset:checked ~ #wrapper #arrow { left: 230px; }
th{
  width: 100%;
}
.main{
    display: none;
}
.form {
    width: 290px;
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    background: #a3fee9;
    border: 5px dashed #76cef7;
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
}

input[type=radio] { display: none; }

label {
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 800;
  opacity: .5;
  color: #F9AF59;
  text-transform: uppercase;
  padding: 10px;
  font-family: 'Pony',"monospace";
}
label:hover {
  transition: all .3s cubic-bezier(.6,0,.4,1);
  opacity: 1;
}
label[for="signin"] { margin-right: 20px; }
label[for="reset"] { float: right; }
input[type=radio]:checked + label { opacity: 1; }

input[type=text],
input[type=password] {
  background: #fff;
  border: none;
  border-radius: 8px;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  height: 30px;
  width: 99.5%;
  margin-bottom: 10px;
  opacity: 1;
  text-indent: 20px;
  transition: all .2s ease-in-out;
  text-transform: lowercase;
}
button {
  background: #079BCF;
  border: none;
  border-radius: 8px !important;
  color: #fff;
  cursor: pointer;
  font-family: 'Raleway', sans-serif !important;
  font-size: 14px !important;
  height: 30px;
  width: 100%;
  margin-bottom: 10px !important;
  overflow: hidden !important;
  transition: all .3s cubic-bezier(.6,0,.4,1);
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  -o-border-radius: 8px !important;
}
button {
  display: block;
  line-height: 25px;
  position: relative;
  top: -2px;
  transform: translate3d(0,0,0);
}
button:hover {
  background: #007BA5;
}

#arrow {
  height: 0;
  width: 0;
  border-bottom: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: relative;
  left: 32px;
}


#hint {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}
.close:before {
    content: "X";
    width: 30px;
    color: red;
    padding: 5px;
    font-family: 'Pony';
    position: absolute;
    left: 0;
    top: -33px;
    cursor: pointer;
    -webkit-animation:spin 1s linear forwards;
    -moz-animation:spin 1s linear forwards;
    animation:spin 1s linear forwards;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
