html, body{
    height:100%;
 }
body{
    background: #000000;
    font-family: "Pony";
    color: #F9AF59;
    padding: 0px;
    margin: 0px;
  }
  .not_allowed{
    cursor: not-allowed;
  }
  canvas{
    /* display:block; 
    margin: 0; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    display: flex;
    align-items: center;
    justify-items: center;
    min-height: 100%;
    margin: 0 auto;
  }
  @font-face {
    font-family: "Pony";
    src: url("Pony.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
  }
  .bubbels{
    position: absolute;
    width: 100%;
    bottom: 15.5%;
    z-index: 1;
  }
  .bubble{
    position: absolute;
    bottom: -100px;
    background: #f1f1f1;
    border-radius: 50%;
    opacity: 0.5;
    animation: flying 10s infinite ease-in;
  }
  .bubble:nth-child(1){
    width: 40px;
    height: 40px;
    left: 10%;
    animation-duration: 8s;
  }
  .bubble:nth-child(2){
    width: 20px;
    height: 20px;
    left: 20%;
    animation-duration: 5s;
    animation-delay: 1s;
  }
  .bubble:nth-child(3){
    width: 50px;
    height: 50px;
    left: 35%;
    animation-duration: 10s;
    animation-delay: 2s;
  }
  
  .bubble:nth-child(4){
    width: 80px;
    height: 80px;
    left: 50%;
    animation-duration: 7s;
    animation-delay: 0s;
  }
  
  .bubble:nth-child(5){
    width: 35px;
    height: 35px;
    left: 55%;
    animation-duration: 6s;
    animation-delay: 1s;
  }
  .bubble:nth-child(6){
    width: 45px;
    height: 45px;
    left: 65%;
    animation-duration: 8s;
    animation-delay: 3s;
  }
  .bubble:nth-child(7){
    width: 25px;
    height: 25px;
    left: 75%;
    animation-duration: 7s;
    animation-delay: 2s;
  }
  .bubble:nth-child(8){
    width: 80px;
    height: 80px;
    left: 80%;
    animation-duration: 6s;
    animation-delay: 1s;
  }
  
  .bubble:nth-child(9){
    width: 15px;
    height: 15px;
    left: 70%;
    animation-duration: 9s;
    animation-delay: 0s;
  }
  
  .bubble:nth-child(10){
    width: 50px;
    height: 50px;
    left: 85%;
    animation-duration: 5s;
    animation-delay: 3s;
  }
  
  @keyframes flying {
    0%{
      bottom: -100px;
      transform: translateX(0);
    }
    50%{
      transform: translateX(100px);
    }
    100%{
      bottom: 1580px;
      transform: translateX(-200px);
    }
  }
  
  form#login{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 60%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
form#login input{
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    color: #FF5722;
    font-weight: bold;
}
form#login input:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}
form#login input::placeholder { 
  border-color: #719ECE;
  font-size: 11px;
  opacity: .5;
}
/* form#login{
    margin-top: 20px;
} */
form#login div.btn{
  margin-top: 10px;
}
form#login #btnLogin,#btnClose{
    font-family: "Pony";
    color: #FED151;
    padding: 5px 15px;
    background: #009688;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 30%;
    cursor: pointer;
}
form#login #btnClose{
  margin-left: 0px;
  background: red;
}

/*------------------------- Áp dụng cho cả ngang và dọc ----------------*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 830px) { 
    /* form#login {
        width: 100%;
        position: absolute;
        top: 60%;
        left: 50%;
        margin: -15% 0 0 10%;
    } */
}
/*----------------- Bản ngang -------------*/
@media only screen and (min-device-width: 320px) and (max-device-width: 830px) and (orientation: landscape) {
    
}
/*----------------- Bản dọc -------------*/
@media only screen and (min-device-width: 320px) and (max-device-width: 830px) and (orientation: portrait) {
    
}
/* table th,table td{
  width: 100% !important;
} */
.xephang{
  display: none;
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: matrix();
  -moz-transform: matrix();
  transform: translate3d(-50%, -50%, 0);
  -ms-transform: matrix();
  -o-transform: matrix();
}
.xephang table{
  width: 100% !important;
  height: 400px;
  overflow: scroll;
  font-size: 12px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: #fff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  background: #dc3545;
  border: none;
}
table.dataTable tbody tr.even {
  background: inherit;
}

::-webkit-scrollbar {
  display: none;
}
div#xephang_info {
  background: #343a40;
  margin: 0 !important;
  color: #fff;
  font-size: 13px;
  padding: 5px;
  text-align: center;
  width: 100%;
}
div.top, div.bottom{
  margin: 0;
  background: #343a40;
}
div#xephang_filter {
  background: #343a40;
  margin: 0;
  text-align: center;
  width: 100%;
}
div#xephang_filter input{
  background: #212529;
  color: #fff;
  font-family: monospace;
}
div#xephang_paginate {
  margin: 10px;
  font-family: 'Pony';
}
.top label{
  text-transform: initial;
}
.bottom.row *{
  margin: 0 0 0 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
  padding: 0  !important;
}
div#xephang_paginate a {
  color: #F9AF59 !important;
}